<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            text-align: center;
        }
        table {
            margin-left: 100px; /* 바깥쪽여백 <--> padding */
        }
        .left {
            width: 100px;
        }
        .right{
            width: 300px;
        }
        #center{
            height: 100px;
        }
        body {
            background: chartreuse;
        }
        input, textarea {
            background: pink;
        }
        h3{
            margin-left: 100px;
        }
    </style>
</head>
<body>
<h3>게시물 작성화면입니다.</h3>
<hr>
<form action="/app1/insert2" method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>제목</td>
            <td>
                <input name="title">
            </td>
        </tr>
        <tr>
            <td>내용</td>
            <td id="center">
                <textarea name="content"
                          cols="25" rows="10"
                          placeholder="여기에 내용을 적어주세요."></textarea>
            </td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>
                <input name="writer" value="{{ request.session.writer}}">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button style="background: black; color:white;">게시물 저장 요청</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>