<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'jquery-3.6.0.js' %}"></script>
    <script>
        $(function () {
            $('#b1').click(function () {
                $.ajax({
                    url : "http://127.0.0.1:5555/app5/target2",
                    success : function (json) {
                        lat = json.lat
                        lng = json.lng
                        console.log('위도 ' + lat + ', 경도 ' + lng)
                    },
                    error : function () {
                        alert('통신 실패@@@@@')
                    }
                })//ajax
            })//b1
            $('#b2').click(function () {
                $.ajax({
                    url : "http://127.0.0.1:5555/app5/target3",
                    success : function (json) {
                        lat = json.lat
                        lng = json.lng
                        console.log('위도 ' + lat + ', 경도 ' + lng)
                    },
                    error : function () {
                        alert('통신 실패@@@@@')
                    }
                })//ajax
            })//b2
        })//root
    </script>
</head>
<body>
<button id="b1">AJAX Test(종로3가)</button><button id="b2">AJAX Test(동대문)</button>
<table>
    <tr>
        <td>(종로3가)</td> <td>(동대문)</td>
    </tr>
    <tr>
        <td><div id="map1" style="width:500px;height:350px;"></div></td>
        <td><div id="map2" style="width:500px;height:350px;"></div></td>
    </tr>
</table>
</body>
</html>